body {
    background-image: url("../img/img.png");
}
main{
    color: #fa6c07;
}
aside img {
    margin-top: 30px;
    margin-left: 30px;
    width: 150px;
    float: left;
    border-radius: 20%;
}

h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 60px;

}

.description {
    padding-top: 40px;
    font-size: 32px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.nvidia img {
    max-width: 700px;
    max-height: 500px;
    display: block;
    padding-top: 30px;
    margin: 0 auto;
}

.assemblies {
    padding-top: 40px;
    font-size: 32px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.slider {
    position: relative;
    max-width: 600px;
    max-height: 400px;
    margin: 0 auto;
}

.slider img {
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    max-width: 100%;
    max-height: 100%;
}

.slider img.slick-active {
    opacity: 1;
}

.slick-prev,
.slick-next {
    font-size: 30px;
    width: 80px;
    height: 80px;
    background-color: #fa6c07;
    color: #fff;
    top: 50%;
}

.slick-prev {
    left: -120px;
    transform: translateY(50%);
}

.slick-next {
    right: -120px;
    transform: translateY(50%);
}

.support {
    padding-top: 240px;
    font-size: 32px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

    .textbox-container {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
    }

    .textbox {
        margin-top: 30px;
        font-size: 20px;
        background-color: #f2f2f2;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-basis: 30%;
    }